.book::after,
.book::before, .book img, .book {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

body,
html {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}

body {
  background: #fde3a7;
  
}

ul {
  display: table-cell;
  vertical-align: middle;
}

.book {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 235px;
  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow 0.3s linear;
  margin:auto;
}

.book img {
  width: inherit;
  height: inherit;
  transform-origin: 0 50%;
  transform: rotateY(0);
  transition: all 0.45s ease;
}

.book:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
.book:hover img {
  transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.book::after,
.book::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: 1px solid #d9d9d9;
}

.book::before {
  left: -3px;
}

.book::after {
  left: -6px;
}

.wrap {
    width:95%;
    max-width:1000px;
    margin: 130px auto 20px auto;
}
.book-see {
    color: #0d0c0c;
    font-weight: 600;
    padding: 8px;
    font-size: 14px;
    width: 160px;
    border-radius: 20px;
    margin: 20px auto auto auto;
    text-decoration: inherit;
  }
  .book-see:hover {
    color: #e32168;
  }
  /*.book-see.book-blue {
    color: #a4e0eb;
  }
  .book-see.book-blue:hover {
    color: #22cdec;
  }
  .book-see.book-pink {
    color: #edb9d6;
  }
  .book-see.book-pink:hover {
    color: #ff6dbe;
  }
  .book-see.book-yellow {
    color: #fdca95;
  }
  .book-see.book-yellow:hover {
    color: #fb9124;
  }
  .book-see.book-purple {
    color: #cbb5e2;
  }
  .book-see.book-purple:hover {
    color: #a764ec;
  } */

  body {
    font-size: 18px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
  }
  
  ul {
    list-style: none;
    display: block;
    margin: 80px auto;
    width: 1000px;
    padding: 0;
  }
  
  li {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    perspective: 1000px;  
  }
  
  li span {
    position: relative;
    display: inline-block;
    width: 40px;
    background: #1abe9e;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
  }
  
  li span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #08372e;
    content: attr(data-hover);
    transition: background 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
  }
  
  li:hover span,
  li:focus span {
    transform: rotateX(90deg) translateY(-22px);
  }
  
  li:hover span::before,
  li:focus span::before {
    background: #1abe9e;	
  }

  /* 검색 */
  h1 {
    color: green;
    text-align: center;
  }
  .redfamily {
    color: red; 
  }
  .search-box,.close-icon,.search-wrapper {
    position: relative;
    padding: 10px;
  }
  .search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 50px;
  }
  .search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
  }
  .search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
  }
  .close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
  }
  .close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index:1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
  }
  .search-box:not(:valid) ~ .close-icon {
    display: none;
  }
  
  .hidden{
    display:none;
  }
  .open{
    display:flex;
  }


.page {
  text-align: center;
  width: 50%;
  bottom: 0;
  position: relative;
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top:20px;
  position: absolute;
  height: 100px;
  margin-left: 660px;
}

.pagination li {
  display: inline;
  text-align: center;
}

.pagination a{
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5;
}

.first{
  margin-left: 15px;
}
.first:hover, .last:hover, .left:hover, .right:hover{
  color: #2e9cdf;
}

.pagination a.active{
  cursor:default;
  color: #ffffff;
}

.pagination a:active{
  outline: none;
}

.arrow-left{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}

.pagination{
  position: relative;

}

.pagination a:hover, a.active{
  background: linear-gradient(white, rgba(33, 36, 46, 0));
  height: 45px;
  margin-top: -6px;
  text-shadow: 0 0 0 transparent;
}

.pagination a:hover{
  color: #9ba1b7;
}

.pagination a.active {
  color: #000000;
}








/* button */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #000000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-8 {
  background-color: #e3f5ce;
background-image: linear-gradient(315deg, #e3f5ce 0%, #64f3ba 74%);
  line-height: 42px;
  padding: 0;
  border: none;
  margin-top:20px;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #64f3ba;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}
.btn-8 span:hover{
  color: #64f3ba;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #64f3ba;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}