body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.customlist{
  display:flex;
  align-items: center;
  flex-wrap:wrap;
  width: 950px;
  height: 1300px;

}
.card {
  width: 300px;
  height: 400px;
  background: #262626;
  overflow: hidden;
  cursor: pointer;
}
.card .imgBx,
.card .details {
  width: 300px;
  height: 400px;
  box-sizing: border-box;
  transition: .5s;
  position: relative;

}
.card .imgBx {
  top: 0;
  left: 0;
}
.card:hover .imgBx {
  top: 0;
  left: -100%;
}
.card .imgBx img {
  width: 100%;
}
.card .details {
  background: #262626;
  top: 0;
  left: 100%;
  line-height: 400px;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  
}
.card:hover .details {
  top: 0;
  left: 0%;
}
.card .details h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #fff;

}
.card .details p {
  margin: 20px 0 0;
  color: #fff;
}

.subBnt{
  font-size: 100px;

}