.container{
  text-align: center;
}

.book-store {
  display: table;
  width: 1000px;
  height: 100vh;
  background-color: white;
  margin: auto;
}

.reload{
  margin-top: 100px;
  border: 0;
  outline: 0;
  background-color:#f2f5f7;
  width: 50px;
  height: 50px;
  cursor: pointer;

}

.flex-container{
  text-align: center;
}
.flex-item{
  display: inline-block
}
.reload2{
  width: 100%;
  height: 100%;
  background-color:#f2f5f7;

}

.book {
  background: #fff;
}

.book-cell {
  display: flex;
  padding: 25px;
  width: 40%;
  height: 250px;
  margin: 30px 10px 10px 30px;
  float: left;
}


.book-photo {
  width: 180px;
  height: 253px;
  left: 35px;
  border-radius: 2px;
}


.book-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.book-title {
  color: #000000;
  font-weight: 600;
}


.book-content {
  padding: 0 20px;
  color: #000000;
  overflow: hidden;
}

.book-sum {
  margin-top: 20px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.book-see {
  margin-top: 25px;
  text-align: center;
  background-color: #fff;
  color: #fbadaf;
  font-weight: 600;
  padding: 8px;
  font-size: 14px;
  width: 160px;
  border-radius: 20px;
}


.book-cell:nth-child(1) {
  background-color: #fcdede;
}
.book-cell:nth-child(2) {
  background-color: #c6f2f9;
}
.book-cell:nth-child(3) {
  background-color: #facce5;
}
.book-cell:nth-child(4) {
  background-color: #ffe4c6;
}
.book-cell:nth-child(5) {
  background-color: #e9d6ff;
}
.book-cell:nth-child(6) {
  background-color: #e4f9c6;
}
.book-cell:nth-child(7) {
  background-color: #a3faeb;
}
.book-cell:nth-child(8) {
  background-color: #C6C1B6;
}
.book-cell:nth-child(9) {
  background-color: #b2ccfa;
}
.book-cell:nth-child(10) {
  background-color: #ffeed1;
}


.book-see:hover {
  color: #ff6e72;
}
.book-see.book-blue {
  color: #a4e0eb;
}
.book-see.book-blue:hover {
  color: #22cdec;
}
.book-see.book-pink {
  color: #edb9d6;
}
.book-see.book-pink:hover {
  color: #ff6dbe;
}
.book-see.book-yellow {
  color: #fdca95;
}
.book-see.book-yellow:hover {
  color: #fb9124;
}
.book-see.book-purple {
  color: #cbb5e2;
}
.book-see.book-purple:hover {
  color: #a764ec;
}


.check{
  cursor: pointer;
}


.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 57px;
  padding: 10px 38px 10px 16px;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.custom-select:hover {
  border: 1px solid #999;
}
.custom-select:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}
/* remove default arrow in IE */
select::-ms-expand {
  display:none;
}

.booklist_txt1{
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.browsers2{
  background-color: white;
  /* border: 1px solid purple; */
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 620px;


    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
    background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
}

.bttn-default {
  color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-warning {
  color: #feab3a;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}

.bttn-material-flat {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border-width: 0;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
  color: #1d89ff;
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.bttn-material-flat:hover,
.bttn-material-flat:focus {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  -webkit-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
}
.bttn-material-flat.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-material-flat.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-material-flat.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-material-flat.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-material-flat.bttn-warning {
  background: #feab3a;
  color: #fff;
  margin-top: 100px;
  margin-left: 20px;
}
