html{
    background-color: antiquewhite;
}
.card {
    border-radius: 5px;
    width : 380px;
    height: 520px;
    overflow: hidden;
    border: none;
    background-color: #fff;
}
.card-body{
    height : 147px;
}
.card-body p{
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #888;
    overflow : hidden;
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
    display : -webkit-box;
    margin-top: 3px;
}
.image-card {
    height: 310px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image-card-1 {
    background-color: white;
}
.text-dark{
    font-size: 30px;
}
.image-card img {
    height: 300px;
    width: 350px;
    object-fit: cover;
}
.profile-image img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.card-text {
    font-size: 13px;
    white-space: no-wrap;
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
    line-height: 1.6;
    overflow : hidden;
    text-overflow: ellipsis;
    display : -webkit-box;
}
.text{
    height : 70px;
    line-height: 70px;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 100%;
    margin-left: 25px;
}
.text img{
    height:  40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
}
.card-body a {
    font-size: 12px
}

.about span {
    font-size: 12px;
}


/* likes button */
.btn{
    background:transparent;
    border-color: transparent;
    height: 35px;
    border : none;
    padding : none;
    margin:5px;
    font-size: 20px;
    outline : none;

}

.btn i:hover{
    cursor: pointer;
}

.selectpicker{
    margin-top: 100px;
    cursor: pointer;
    width: 200px; 
    height: 45px;
    padding:.5em; 
    border: 1px solid #999;
    font-family: inherit;  
    background: url('../images/arrow.jpg') no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-color: white;
}
.selectpicker::-ms-expand {
    display: none;
}
.search{
    margin-top: 100px;
}