body {
    background: #fde3a7;
}

.card {
    border-radius: 5px;
    width : 400px;
    overflow: hidden;
    border: none;
    background-color: #fff
}
.card-body{
    height : 147px;
}
.card-body p{
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #888;
    overflow : hidden; 
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
    display : -webkit-box; 
    margin-top: 3px;
    
}


.image-card {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image-card-1 {
    background-color: white
    
}

.image-card img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    margin-top : 30px
}
.card-text {
    font-size: 13px;
    white-space: no-wrap;
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
    line-height: 1.6;
    overflow : hidden; 
    text-overflow: ellipsis;
    display : -webkit-box; 
}

.card-body a {
    font-size: 12px
}

.about span {
    font-size: 12px;
}


/* likes button */
.btn{
    background:transparent;
    border-color: transparent;
    height: 35px;
    border : none;
    padding : none;
    margin:5px;
    font-size: 20px;
    outline : none;
    
}

.btn i:hover{
    cursor: pointer;
}
