body {
    background: #fde3a7;

}

.card {
    border-radius: 5px;
    width : 400px;
    height: 592px;
    overflow: hidden;
    border: none;
    background-color: #fff;
}
.card-body{
    height : 147px;
}
.card-body p{
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #888;
    overflow : hidden;
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
    display : -webkit-box;
    margin-top: 3px;

}


.image-card {
    height: 310px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.image-card-1 {
    background-color: white;

}

.image-card img {
    height: 300px;
    width: 350px;
    object-fit: cover;


}
.profile-image img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.card-text {
    font-size: 13px;
    white-space: no-wrap;
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
    line-height: 1.6;
    overflow : hidden;
    text-overflow: ellipsis;
    display : -webkit-box;
}
.text{
    height : 70px;
    line-height: 70px;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 100%;
    margin-left: 25px;
}
.text img{
    height:  40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
}
.card-body a {
    font-size: 12px
}

.about span {
    font-size: 12px;
}


/* likes button */
.btn{
    background:transparent;
    border-color: transparent;
    height: 35px;
    border : none;
    padding : none;
    margin:5px;
    font-size: 20px;
    outline : none;

}

.btn i:hover{
    cursor: pointer;
}

.search{
    margin-top: 90px;
    width: 100%;
}

.a {
    font-size: 50px
}

.a span{
    font-size: 30px
}

mark.mint{
    background: linear-gradient(to top, #e3c174 50%, transparent 50%)

}
