body{
    margin: 0;
    padding: 0;
}

.board_list_wrap {
    padding: 50px;

}

.board_list_wrap > h2{
    text-align: center;
}
.board_list_head{
    border-top: 2px solid #000000;
    border-bottom: 1px solid #ccc;
}

.board_list_body .item{
    border-bottom: 1px solid #ccc;
}

.board_list_head,
.board_list_body .item {
    font-size : 0;
    padding: 10px 0;
}

.board_list_head > div, 
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.board_list_head > div{
    font-weight: 600;
}

.board_list .num{
    width: 10%;
}

.board_list .tit{
    width: 55%;
}

.board_list_body div.tit{
    text-align: left;
}

.board_list_body div.tit a:hover{
    text-decoration: underline;
}

.board_list .writer{
    width: 10%;
}

.board_list .date{
    width: 15%;
}

.board_list .view{
    width: 10%;
}


.board_detail{
    border: 1px solid #000000;
    width: 50%;
    height: 500px;
    margin: auto;
    display: none;
}

.board_detail > div{
    text-align: left;
    border-bottom: 1px solid grey;
    
}
.board_detail_tit {
    height: 10%;
}

.board_detail_content{
    height: 60%;
}

.board_detail_comment{
    height: 30%;
}