body{
  background-color: antiquewhite;
  height: 100%;
  line-height: 1.5;

}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

  .team_exp{
    height: 400px;
    width: 100%;
    margin: 0 0 100px 0;
    background-color: rgb(253, 247, 239)
  }
  .bestseller{
      height: 450px;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }

  .bestseller_txt{
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
  }


  .wrapper {
    width: 100%;
    overflow: hidden;
  }

  .photobanner {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    cursor: pointer;
  }
  
  .photobanner img {
    margin: 0px 10px;
    box-shadow: 2px 2px 8px #8a8a8a;
    width: 70px;
  }
  
  .photobanner {
    animation: bannermove 25s linear infinite alternate-reverse;
  }
  
  @keyframes bannermove {
    from {
      left: 0px;
    }
    to {
      left: -1000px;
    }
  }
  .photobanner-left {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    cursor: pointer;
  }
  
  .photobanner-left img {
    margin: 0px 10px;
    box-shadow: 2px 2px 8px #8a8a8a;
    width: 70px;

  }
  
  .photobanner-left {
    animation: bannermove-left 25s linear infinite alternate-reverse;
  }
  
  @keyframes bannermove-left {
    from {
      left: -1000px;
    }
    to {
      left: 0px;
    }
  }

  .user-container{
    display:flex;
    margin: 150px 0;
    height: 600px;

  }

  .user_custom{
    width: 49%;
    margin: 0 50px;
    background-color: rgb(232, 238, 243);  
  }

  .user-popular{
    height: 48%;
  }

  .user-popular .user_custom_txt{
    font-size: 25px;
  }

  .a{
    margin-bottom: 2%;
    background-color: lightblue;
  }
  .b{
    margin: 0;
    display: flex;
    width: 100%;
  }
  .b .ppbook{
    margin-right: 5%;
    background-color: aliceblue;
  }
  .user-stats{
    width: 50%;
  }
  
  .user-stats .user_custom_txt{
    font-size: 20px;
  }
  .user_custom_txt{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    border-bottom: 2px solid #000000;
  }

  .user-feed-head{
    display: flex;
    
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .user-feed-list .num{
    width: 10%;
  }
  .user-feed-list .nickname{
    width: 20%;
  }
  .user-feed-list .title{
    width: 60%;
  }
  .user-feed-list .like{
    width: 10%;
  }

  .user-popular-feeds{
    display: flex;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .user-feed-head, .user-popular-feeds{
    padding: 10px 0;
  }

  .user-stats{
    text-align: center;
  }
  .user-stats .num{
    width: 20%;
  }
  .user-stats .nickname{
    width: 60%;
  }
  .user-stats .num-book{
    width: 20%;
  }
  .user-stats-number{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }









/* footer */

footer {
  padding: 1% 5%;
  text-align: center;
  background-color: #373B44;
  color: white;
}
footer a {
  color: #FE4B74;
  font-weight: 500;
  text-decoration: none;
}



.container2{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
  margin-top: 100px;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}