*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
}   
header{
  margin: 0 auto;
}
  .team_exp{
    height: 400px;
    width: 100%;
    margin: 0 0 100px 0;
    background-color: rgb(253, 247, 239)
  }
  .bestseller{
      position: relative;
      margin :0 auto;
    }

  .bestseller_txt{
    position: relative;
    text-align: center;
    font-weight: bold;
    width : 1300px;
    font-size: 30px;
    margin: 40px auto
  }


  .wrapper {
    width: 100%;
    overflow: hidden;
    margin : 0 auto;
  }

  .photobanner {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    width: 1300px;
    cursor: pointer;
    justify-content : center;
  }

  
  .photobanner img {
    margin: 0px 10px;
    box-shadow: 2px 2px 8px #8a8a8a;
    width: 70px;
  }
  
  .photobanner {
    animation: bannermove 25s linear infinite alternate-reverse;
  }
  
  @keyframes bannermove {
    from {
      left: 0px;
    }
    to {
      left: -1000px;
    }
  }
  .photobanner-left {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    cursor: pointer;
    
  }

  
  .photobanner-left img {
    margin: 0px 10px;
    box-shadow: 2px 2px 8px #8a8a8a;
    width: 70px;

  }
  
  .photobanner-left {
    animation: bannermove-left 25s linear infinite alternate-reverse;
  }
  
  @keyframes bannermove-left {
    from {
      left: -1000px;
    }
    to {
      left: 0px;
    }
  }

  .book-rank{
    width: 1520px;
    height: 700px;
  }
  .user_custom{
    width: 720px;
    height : 650px;
    background-color: rgb(232, 238, 243); 
    border-radius: 20px;
    float : left;
    margin-left : 20px;
    margin-top : 20px;
  }
  .user_custom1{
    width: 720px;
    height : 650px;
    background-color: rgb(232, 238, 243); 
    border-radius: 20px;
    float : right;
    margin-right: 20px;
    margin-top : 20px;
  }
  .recommend_list{
    width: 720px;
  }
  .before-login{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 170px;
  }
  .user-popular{
    height: 48%;
  }
.a{
    margin-bottom: 20px;
    background-color: #f8f6ed;
    border-bottom: 2px solid rgb(125, 124, 124);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 720px;
}
  .b{
    margin: 0;
    width: 1000px;
    display: flex;
    width: 100%;
    padding:0% 3% 1% 3%;
  }
  .b .ppbook{
    margin-right: 3%;
    background-color:#ffffff;
    border: 1px solid rgb(125, 124, 124);
  }
  .bookrate{
    background-color:#ffffff;
    border: 1px solid rgb(125, 124, 124);
  }
  .user-stats{
    width: 50%;
    height: 280px;
    margin-top: 10px;
    border-radius: 20px;
  }
  
  .user-stats .user_custom_txt{
    font-size: 20px;
  }
  .user_custom_txt{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    height: 50px;
  }
  .user_custom_txt2{
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #000000;
  }

  .user-feed-head{
    display: flex;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .user-feed-list .num{
    width: 10%;
  }
  .user-feed-list .nickname{
    width: 20%;
  }
  .user-feed-list .title{
    width: 60%;
  }
  .user-feed-list .like{
    width: 10%;
  }

  .user-popular-feeds{
    display: flex;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .user-feed-head, .user-popular-feeds{
    padding: 10px 0;
  }

  .user-stats{
    text-align: center;
  }
  .user-stats .num{
    width: 20%;
  }
  .user-stats .nickname{
    width: 60%;
  }
  .user-stats .num-book{
    width: 20%;
  }
  .user-stats-number{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }


.book img{
  width: 150px;
  height: 235px;
}

.recommend_list {
  width: 700px;
  
}

.wouldyou-login{
  text-align: center;
  margin-top: 200px;
  font-size: 30px;

}

.list_start {
  text-align: center;
  margin-top: 30px;
}

.list_detail {
  display: inline-block;
  width: 150px;
  height: 235px;
  border: 1px solid;
  margin: 0 30px 30px 30px;
  cursor: pointer;
}
main{
  width : 1520px;
  height : 100%;
  margin : 0 auto;
  background-color: antiquewhite;
}

/* main 슬라이드 */
* {margin:0;padding:0;}
        .section input[id*="slide"] {display:none;}
        .section .slidewrap {width:1300px; margin:0 auto;}
        .section .slidelist {white-space:nowrap;font-size:0;overflow:hidden;position:relative; margin-top: 57px; }
        .section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;height: 500px; margin-top:50px; border-radius: 30px;}
        .section .slidelist > li > a {display:block;position:relative;}
        .section .slidelist > li > a img {width:100%;}
        .section .slidelist label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
        .section .slidelist .textbox {position:absolute;z-index:1;top:50%;left:20%;transform:translate(-50%,-50%);line-height:1.6;text-align:center;}
        .section .slidelist .textbox h3 {font-size:36px;color:#000;;transform:translateY(30px);transition:all .5s;}
        .section .slidelist .textbox p {font-size:16px;color:#fff;opacity:0;transform:translateY(30px);transition:all .5s;}
        .section{background-color: #fff; width: 1300px; margin : 0 auto }
        
        
        /* input에 체크되면 슬라이드 효과 */
        .section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
        .section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
        .section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
        .section input[id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
        .section input[id="slide05"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
    
        /* input에 체크되면 텍스트 효과 */
        .section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
        .section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
        .section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
        .section input[id="slide04"]:checked ~ .slidewrap li:nth-child(4) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide04"]:checked ~ .slidewrap li:nth-child(4) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
        .section input[id="slide05"]:checked ~ .slidewrap li:nth-child(5) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide05"]:checked ~ .slidewrap li:nth-child(5) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
    
        /* 좌,우 슬라이드 버튼 */
        .slide-control > div {display:none;}
        .section .slide-control {left:30px;background:url('../images/left.png') center center / 100% no-repeat;}
        .section .slide-control {right:30px;background:url('../images/right.png') center center / 100% no-repeat;}
        .section input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
        .section input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
        .section input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}
        .section input[id="slide04"]:checked ~ .slidewrap .slide-control > div:nth-child(4) {display:block;}
        .section input[id="slide05"]:checked ~ .slidewrap .slide-control > div:nth-child(5) {display:block;}
    
        /* 페이징 */
        .slide-pagelist {text-align:center;padding:20px;}
        .slide-pagelist > li {display:inline-block;vertical-align:middle;}
        .slide-pagelist > li > label {display:block;padding:8px 30px;border-radius:30px;background:#ccc;margin:20px 10px;cursor:pointer;}
        .section input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background:#999;}
        .section input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background:#999;}
        .section input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {background:#999;}
        .section input[id="slide04"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(4) > label {background:#999;}
        .section input[id="slide05"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(5) > label {background:#999;}

#wrap {
  height: 150px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  color:white;
  border-bottom: 1px solid #c4c4c4;
}
footer {
  width: 1520px;
  height: 150px;
  bottom: 0px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding-top: 15px;
  color: #808080;
  background-color: black;
  font-size: 11px;
  margin: 0 auto;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080; font-size: 11px;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0; margin-bottom: 0;   
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}
