body{
  background-color: antiquewhite;
  height: 100%;
  line-height: 1.5;

}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

  .team_exp{
    height: 400px;
    width: 100%;
    margin: 0 0 100px 0;
    background-color: rgb(253, 247, 239)
  }
  .bestseller{
      height: 450px;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }

  .bestseller_txt{
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
  }


  .wrapper {
    width: 100%;
    overflow: hidden;
  }

  .photobanner {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    cursor: pointer;
  }
  
  .photobanner img {
    margin: 0px 10px;
    box-shadow: 2px 2px 8px #8a8a8a;
    width: 70px;
  }
  
  .photobanner {
    animation: bannermove 25s linear infinite alternate-reverse;
  }
  
  @keyframes bannermove {
    from {
      left: 0px;
    }
    to {
      left: -1000px;
    }
  }
  .photobanner-left {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    cursor: pointer;
  }
  
  .photobanner-left img {
    margin: 0px 10px;
    box-shadow: 2px 2px 8px #8a8a8a;
    width: 70px;

  }
  
  .photobanner-left {
    animation: bannermove-left 25s linear infinite alternate-reverse;
  }
  
  @keyframes bannermove-left {
    from {
      left: -1000px;
    }
    to {
      left: 0px;
    }
  }

  .user-container{
    display:flex;
    margin:auto;
    height: 750px;
    width : 2000px;
  }

  .user_custom1{
    width: 49%;
    margin: 0 50px;
    background-color: #f8f6ed;
    border: 2px solid rgb(125, 124, 124);
  }
  .user_custom{
    width: 1000px;
    height : 610px;
    background-color: rgb(232, 238, 243); 
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
  }

  .user-popular{
    height: 48%;
  }

  .user-popular .user_custom_txt{
    font-size: 25px;
  }

  .a{
    margin-bottom: 2%;
    background-color: #f8f6ed;
    border-bottom: 2px solid rgb(125, 124, 124);
  }
  .b{
    margin: 0;
    display: flex;
    width: 100%;
    padding:0% 3% 1% 3%;
  }
  .b .ppbook{
    margin-right: 3%;
    background-color:#ffffff;
    border: 1px solid rgb(125, 124, 124);
  }
  .bookrate{
    background-color:#ffffff;
    border: 1px solid rgb(125, 124, 124);
  }
  .user-stats{
    width: 50%;
  }
  
  .user-stats .user_custom_txt{
    font-size: 20px;
  }
  .user_custom_txt{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    border-bottom: 2px solid #000000;
  }

  .user-feed-head{
    display: flex;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .user-feed-list .num{
    width: 10%;
  }
  .user-feed-list .nickname{
    width: 20%;
  }
  .user-feed-list .title{
    width: 60%;
  }
  .user-feed-list .like{
    width: 10%;
  }

  .user-popular-feeds{
    display: flex;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  .user-feed-head, .user-popular-feeds{
    padding: 10px 0;
  }

  .user-stats{
    text-align: center;
  }
  .user-stats .num{
    width: 20%;
  }
  .user-stats .nickname{
    width: 60%;
  }
  .user-stats .num-book{
    width: 20%;
  }
  .user-stats-number{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }









/* footer */

footer {
  padding: 1% 5%;
  text-align: center;
  background-color: #373B44;
  color: white;
}
footer a {
  color: #FE4B74;
  font-weight: 500;
  text-decoration: none;
}
.container2{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
  margin-top: 100px;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.book img{
  width: 150px;
  height: 235px;
}

.recommend_list {
  width: 700px;
}

.list_start {
  text-align: center;
}

.list_detail {
  display: inline-block;
  width: 150px;
  height: 235px;
  border: 1px solid;
  margin: 0 30px 30px 30px;
  cursor: pointer;
}
.footer{
  height: 380px;
}

/* main 슬라이드 */
* {margin:0;padding:0;}
        .section input[id*="slide"] {display:none;}
        .section .slidewrap {width:1300px; margin:0 auto;}
        .section .slidelist {white-space:nowrap;font-size:0;overflow:hidden;position:relative; margin-top: 57px; }
        .section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;height: 500px; margin-top:50px; border-radius: 30px;}
        .section .slidelist > li > a {display:block;position:relative;}
        .section .slidelist > li > a img {width:100%;}
        .section .slidelist label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
        .section .slidelist .textbox {position:absolute;z-index:1;top:50%;left:20%;transform:translate(-50%,-50%);line-height:1.6;text-align:center;}
        .section .slidelist .textbox h3 {font-size:36px;color:#000;;transform:translateY(30px);transition:all .5s;}
        .section .slidelist .textbox p {font-size:16px;color:#fff;opacity:0;transform:translateY(30px);transition:all .5s;}
        .section{background-color: #fff; width: 100%;}
        
        
        /* input에 체크되면 슬라이드 효과 */
        .section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
        .section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
        .section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
        .section input[id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
        .section input[id="slide05"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
    
        /* input에 체크되면 텍스트 효과 */
        .section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
        .section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
        .section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
        .section input[id="slide04"]:checked ~ .slidewrap li:nth-child(4) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide04"]:checked ~ .slidewrap li:nth-child(4) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
        .section input[id="slide05"]:checked ~ .slidewrap li:nth-child(5) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
        .section input[id="slide05"]:checked ~ .slidewrap li:nth-child(5) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
    
        /* 좌,우 슬라이드 버튼 */
        .slide-control > div {display:none;}
        .section .left {left:30px;background:url('./images/left.png') center center / 100% no-repeat;}
        .section .right {right:30px;background:url('./images/right.png') center center / 100% no-repeat;}
        .section input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
        .section input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
        .section input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}
        .section input[id="slide04"]:checked ~ .slidewrap .slide-control > div:nth-child(4) {display:block;}
        .section input[id="slide05"]:checked ~ .slidewrap .slide-control > div:nth-child(5) {display:block;}
    
        /* 페이징 */
        .slide-pagelist {text-align:center;padding:20px;}
        .slide-pagelist > li {display:inline-block;vertical-align:middle;}
        .slide-pagelist > li > label {display:block;padding:8px 30px;border-radius:30px;background:#ccc;margin:20px 10px;cursor:pointer;}
        .section input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background:#999;}
        .section input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background:#999;}
        .section input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {background:#999;}
        .section input[id="slide04"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(4) > label {background:#999;}
        .section input[id="slide05"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(5) > label {background:#999;}

             