@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.navbar {
    position: fixed;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 1;
    padding: 0;

}
.underline {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 50px;
    margin: 0;
    height: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.underline div {
    margin: 0 70px;
    width: 100vw;
    align-items: center;
    color: #000000;
    text-align : center;
    height: auto;

}

.underline div:hover{
    border-bottom: 2px solid aqua;
    transition: 0.5s all;

}
