#container {
    background: #fde3a7;
  }

  html{
    background-color: #fde3a7;
  }

  #main_container {
    margin-top: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contents {
    max-width: 614px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    margin-bottom: 60px;
    background: white;
  }

  .contents .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .post_form {
    padding: 40px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: 0 0 10px;
    /*  */
    width: 900px;
  }

  .post_form .title {
    margin: 0 10px 40px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color:  #2E2E2E;
  }

  .plus_icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 10px;
    border: 1px solid #ffcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
  }

  .plus_icon span {
    position: absolute;
    display: block;
    width: 2px;
    height: 30px;
    background: #ffcbcb;
  }

  .plus_icon span:nth-child(2) {
    transform: rotate(90deg);
  }

  .post_form p {
    margin-bottom: 20px;
  }

  .post_form input[type="file"] {
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
  }

  .post_form textarea {
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
  }

  .submit_btn {
    background:  #bcdee7;
    border : 1px solid  #bcdee7;
    color: black;

    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-right: 100px;
  }

  /* 별점 part */
.starpoint_wrap{display:inline-block;}
.starpoint_box{position:relative;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat;font-size:0;}
.starpoint_box .starpoint_bg{display:block;position:absolute;top:0;left:0;height:18px;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -20px no-repeat;pointer-events:none;}
.starpoint_box .label_star{display:inline-block;width:10px;height:18px;box-sizing:border-box;}
.starpoint_box .star_radio{opacity:0;width:0;height:0;position:absolute;}
.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}

.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}
