<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/customlist.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />


    <title>Document</title>

</head>
<body>
    <nav class="navbar">
        <div class="underline">
            <div><a href="../templates/main.html"></a>HOME</div>
            <div><a href="../templates/main2.html">글 작성하기</a></div>
            <div><a href="../templates/feed.html">독후감 보기</a></div>
            <button onclick = "logout()">로그아웃</button>
            <div><a href="../templates/userpage.html">마이페이지</a></div>
            <div class="open"> 로그인/회원가입</div>
            <button type="submit" onclick="send_id()">보내기</button>
        </div>
    </nav>
    <div class="container">
        <button class="reload "onClick="window.location.reload()">
            <img src="../static/images/refresh_icon_151134.png" alt="">
        </button>
        <div class="book-store" id="customlist" >
        </div>
    </div>
 



<script src="../static/js/customlist.js"></script>
<script>

</script>
</body>
</html>