<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/43cd4c369a.js" crossorigin="anonymous"></script>
  <!--폰트-->
  <link rel=“preconnect” href=“https://fonts.googleapis.com”>
  <link rel=“preconnect” href=“https://fonts.gstatic.com” crossorigin>
  <link href=“https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap” rel=“stylesheet”>

  <title>Document</title>
  <link rel="stylesheet" href="../static/css/feed.css">
  <link rel="stylesheet" href="../static/css/nav.css">

</head>

<body>
  <nav class="navbar">
    <div class="underline">
      <div id="home-button" onclick="location.href='../templates/main.html'">HOME</div>
      <div id="post-button" onclick="location.href='../templates/booklist.html?page=1'">글 작성하기</div>
      <div id="feed-button" onclick="location.href='../templates/feed.html'">독후감 보기</div>
      <div id="recommend-button" onclick="location.href='../templates/customlist.html'">추천도서</div>
      <div id="user_email" onclick="location.href='../templates/userpage.html'"></div>
      <div id="login-button" class="open"> 로그인/회원가입</div>
      <div id="logout-button" class="logout" onclick="logout()">로그아웃</div>
    </div>
  </nav>

  <div class="container">
    <div class="row g-3 mt-5 mb-5" id="image-box">


    </div>
  </div>

  <script src="../static/js/api.js"></script>
  <script src="../static/js/feed.js"></script>


  <script>
    async function Toggle(k) {

      var btnvar1 = document.getElementById(k);
      if (btnvar1.style.color == 'red') {
        btnvar1.style.color = "grey"
        history.scrollRestoration = "auto";
        window.location.reload()

      }
      else {
        btnvar1.style.color = "red"
        history.scrollRestoration = "auto";
        window.location.reload()
      }


      const response = await fetch(`${backend_base_url}articles/like/${k}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + localStorage.getItem("access")
        },
      })
    }

  </script>

</body>

</html>