<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/43cd4c369a.js" crossorigin="anonymous"></script>  
  <title>Document</title>
  <link rel="stylesheet" href = "../static/css/feed.css">
</head>
<body>
  <div class="container"> 
    <div class="row g-3 mt-5 mb-5" id = "image-box">  
    </div>
  </div>
<script src="../static/js/feed.js"></script>


<script>
  async function Toggle(k){

    var btnvar1 = document.getElementById(k);
      if (btnvar1.style.color == 'red'){
        btnvar1.style.color = "grey"
      }
      else{
        btnvar1.style.color = "red"
      }
    
    const response = await fetch(`${backend_base_url}articles/like/1/`,{
            method : 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer' + localStorage.getItem("access")
            },
        })
      }    

    // $('.btn').click(function(){
    // var pk = $(this).attr(k) // 클릭한 요소의 attribute 중 name의 값을 가져온다.
    // $.ajax({
    //     url: "{% url 'http://127.0.0.1:8000/articles/like/2/' pledge.pk %}", // 통신할 url을 지정한다.
    //     data: {'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
    //     dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.
  
    //     success: function(response){
    //       // 요청이 성공했을 경우 좋아요/싫어요 개수 레이블 업데이트
    //       $('#like_count'+ pk).html("count : "+ response.like_count);
    //       $('#dislike_count'+ pk).html("count : "+ response.dislike_count);
    //     },
    //     error:function(error){
    //       // 요청이 실패했을 경우
    //       alert(error)
    //     }
    // });
  // })

</script>
</body>
</html>