<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <title>book space</title>
    <link rel="stylesheet" href="../static/css/post.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!--폰트-->
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap' rel='stylesheet'>
    <!--아이콘-->
    <script src="https://kit.fontawesome.com/43cd4c369a.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- 네비바-->
    <nav class="navbar">

        <div class="navbar__logo">
            <i class="fa-solid fa-book"></i>
            <a href="../templates/main.html">ThumBook</a>
        </div>

        <ul class="navbar__menu">
            <div id="post-button" onclick="location.href='../templates/booklist.html?page=1'">글 작성하기</div>
            <div id="feed-button" onclick="location.href='../templates/feed.html'">독후감 보기</div>
            <div id="recommend-button" onclick="location.href='../templates/customlist.html'">추천도서</div>
            <div id="user_email" onclick="gotoUserpage()"></div>
            <div id="login-button" class="open"> 로그인/회원가입</div>
            <div id="logout-button" class="logout" onclick="logout()">로그아웃</div>
        </ul>

        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <section id="container">
        <div id="main_container">
            <form class="post_form" style="padding-bottom: 100px">
                <div class="title">문의하기</div>
                <p>
                    <textarea name="title" id="title" cols="50" rows="1" placeholder="제목을 입력해주세요."></textarea>
                </p>
                <p>
                    <textarea name="content" id="content" cols="50" rows="15" placeholder="내용을 입력해주세요."></textarea>
                </p>
                <input class="submit_btn" type="button" onclick="inquiryPost()" value="저장" />
            </form>
        </div>
    </section>
    <script src="../static/js/api.js"></script>
    <script src="../static/js/inquiry.js"></script>

</body>

</html>