<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/43cd4c369a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href = "../static/css/likes.css">
</head>
<body>
    <div class = "btns">
        <Button onclick = "Toggle(i)" id="btnh"+i, class = "btn" ><i class="fa-solid fa-heart"></i></Button>
    </div>
    <script>
        function Toggle(i){
            var btnvar1 = document.getElementById('btnh'+ i);
                if (btnvar1.style.color == 'red'){
                    btnvar1.style.color = "grey"
                }
                else{
                    btnvar1.style.color = "red"
                }
        }
    </script>
</body>
</html>