<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="stylesheet" href="../static/css/main.css" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <title>Document</title>

</head>
<body>
    <!-- 네비바-->
    <nav class="navbar">
        <div class="underline">
            <div><a href="../templates/main.html"></a>HOME</div>
            <div><a href="../templates/main2.html">글 작성하기</a></div>
            <div><a href="../templates/feed.html">독후감 보기</a></div>
            <button onclick = "logout()">로그아웃</button>
            <div><a href="../templates/userpage.html">마이페이지</a></div>
            <div class="open"> 로그인/회원가입</div>
        </div>
    </nav>
    
    <!--프로젝트설명-->
    <div class="team_exp">

    </div>
    <!--베스트셀러-->
    <div class="bestseller">
        <div class="bestseller_txt">
            당신을 기다리는
            <br>
            12만권의 도서
        </div>
        <div class="wrapper">
            <div class="photobanner" id="card">
            </div>
            <div class="photobanner-left" id="card-left">
            </div>
            <div class="photobanner" id="card2">
            </div>
        </div>
    </div>

    <!-- 회원가입 로그인 모달창-->
    <div class="container" id="modal-container">
        <div class="contents">
            <div class="modal signup" id="signupmodal">
                <section class="signup-form">
                    <h1>Thumbook</h1>
                    <form action="" id="asdf">
                        <div class="int-area">
                            <input type="text" name="email" id="email" autocomplete="off" required/>
                            <label for="email">Email</label>
                        </div>
                        <div class="int-area">
                            <input type="text" name="username" id="username" autocomplete="off" required/>
                            <label for="username">username</label>
                        </div>
                        <div class="int-area">
                            <input type="password" name="password1" id="password" autocomplete="off" required>
                            <label for="password">Password1</label>
                        </div>
                        <div class="int-area">
                            <input type="password" name="password2" id="passwordcheck" autocomplete="off" required>
                            <label for="passwordcheck">Password2</label>
                        </div>
                        <div class="btn-area-user">
                            <button type="button" id="btn-user" onclick="handleSignup()">회원가입</button>
                        </div>
                        <button type="button" class="page2login">로그인하러 가기</button>
                    </form>
                </section>
                <button class="close">X</button>
            </div>
            <div class="modal login" id="loginmodal">
                <section class="login-form">
                    <h1>Thumbook</h1>
                    <form action="">
                        <div class="int-area">
                            <input type="text" name="email" id="email1" autocomplete="off" required/>
                            <label for="email">Email</label>
                        </div>
                        <div class="int-area">
                            <input type="password" name="password" id="password1" autocomplete="off" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="btn-area-user">
                            <button type="button" id="btn1" onclick="handleLogin()">로그인</button>
                        </div>
                        <button type="button" class="page2Signup">계정이 없으신가요?</button>
                    </form>
                </section>
                <button class="close">X</button>
            </div>
        </div>
    </div>
    <!-- 사용자 맞춤 추천 도서-->
    <div class="user_custom">
        <div class="user_custom_txt">
            당신을 위한 맞춤 도서
        </div>
        <div class="component">
            <ul class="align" id="user_book">
              
            </ul>  
          </div>
    </div>



<footer class = "footer">
  <div class="container2">
    <div class="row">
      <div class="footer-col">
        <h4>STACK</h4>
        <ul>
          <li><a href="#">DRF</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">Pandas</a></li>
          <li><a href="#">HTML</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>A1 Teletubbies</h4>
        <ul>
            <li><a href="https://github.com/nhkmi1001">n.h Kim</a></li>
            <li><a href="https://github.com/ksykma">s.y Kim</a></li>
            <li><a href="https://github.com/janawon-seo">j.w Seo</a></li>
            <li><a href="https://github.com/cjstmdgusqw">s.h Chun</a></li>
            <li><a href="https://github.com/yoonsun9128">y.s Choi</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4></h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      

      </div>
    </div>
  </div>
  
</footer>



</body>
</html>
<script src="../static/js/api.js"></script>
<script src="../static/js/main.js"></script>
